    /* Custom Tailwind CSS Animation */
    @keyframes scroll-text {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    .scrolling-text:hover {
      overflow: hidden;
      /* white-space: nowrap; */
      /* display: inline-block; */
      animation: scroll-text 10s linear infinite;
    }